node_modules
dist
/content
*.db
tests/api/datas/
public/
data/
tests/db

# Environment variables
.env

# Tailwind CSS
src/renderer/index.css

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# mcp
.claude
.mcp.json
.serena
